In [17]:
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import collections

In [18]:
profiles = pd.read_csv('profiles.csv')

print(profiles.head())
profiles.info()

   age       body_type               diet    drinks      drugs  \
0   22  a little extra  strictly anything  socially      never
1   35         average       mostly other     often  sometimes
2   38            thin           anything  socially        NaN
3   23            thin         vegetarian  socially        NaN
4   29        athletic                NaN  socially      never

                           education  \
0      working on college/university
1              working on space camp
2     graduated from masters program
3      working on college/university
4  graduated from college/university

                                              essay0  \
0  about me:<br />\n<br />\ni would love to think...
1  i am a chef: this is what that means.<br />\n1...
2  i'm not ashamed of much, but writing public te...
3          i work in a library and go to school. . .
4  hey how's it going? currently vague on the pro...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...
3          reading things written by old dead people
4                         work work work work + play

                                              essay2  \
0  making people laugh.<br />\nranting about a go...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...
3  playing synthesizers and organizing books acco...
4  creating imagery to look at:<br />\nhttp://bag...

                                              essay3  ...  \
0  the way i look. i am a six foot half asian, ha...  ...
1                                                NaN  ...
2  my large jaw and large glasses are the physica...  ...
3                  socially awkward but i do my best  ...
4            i smile a lot and my inquisitive nature  ...

                          location  \
0  south san francisco, california
1              oakland, california
2        san francisco, california
3             berkeley, california
4        san francisco, california

                                      offspring orientation  \
0  doesn&rsquo;t have kids, but might want them    straight
1  doesn&rsquo;t have kids, but might want them    straight
2                                           NaN    straight
3                       doesn&rsquo;t want kids    straight
4                                           NaN    straight

                        pets                                  religion sex  \
0  likes dogs and likes cats     agnosticism and very serious about it   m
1  likes dogs and likes cats  agnosticism but not too serious about it   m
2                   has cats                                       NaN   m
3                 likes cats                                       NaN   m
4  likes dogs and likes cats                                       NaN   m

                                 sign     smokes  \
0                              gemini  sometimes
1                              cancer         no
2  pisces but it doesn&rsquo;t matter         no
3                              pisces         no
4                            aquarius         no

                                              speaks     status
0                                            english     single
1  english (fluently), spanish (poorly), french (...     single
2                               english, french, c++  available
3                           english, german (poorly)     single
4                                            english     single

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   body_type    54650 non-null  object
 2   diet         35551 non-null  object
 3   drinks       56961 non-null  object
 4   drugs        45866 non-null  object
 5   education    53318 non-null  object
 6   essay0       54458 non-null  object
 7   essay1       52374 non-null  object
 8   essay2       50308 non-null  object
 9   essay3       48470 non-null  object
 10  essay4       49409 non-null  object
 11  essay5       49096 non-null  object
 12  essay6       46175 non-null  object
 13  essay7       47495 non-null  object
 14  essay8       40721 non-null  object
 15  essay9       47343 non-null  object
 16  ethnicity    54266 non-null  object
 17  height       59943 non-null  float64
 18  income       59946 non-null  int64
 19  job          51748 non-null  object
 20  last_online  59946 non-null  object
 21  location     59946 non-null  object
 22  offspring    24385 non-null  object
 23  orientation  59946 non-null  object
 24  pets         40025 non-null  object
 25  religion     39720 non-null  object
 26  sex          59946 non-null  object
 27  sign         48890 non-null  object
 28  smokes       54434 non-null  object
 29  speaks       59896 non-null  object
 30  status       59946 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [19]:
print(profiles['education'].value_counts)

<bound method IndexOpsMixin.value_counts of 0            working on college/university
1                    working on space camp
2           graduated from masters program
3            working on college/university
4        graduated from college/university
                       ...
59941    graduated from college/university
59942        working on college/university
59943       graduated from masters program
59944        working on college/university
59945       graduated from masters program
Name: education, Length: 59946, dtype: object>

In [20]:
education = profiles['education']

In [37]:
education_index = pd.get_dummies(education, dtype=int)
print(education_index)

       college/university  dropped out of college/university  \
0                       0                                  0
1                       0                                  0
2                       0                                  0
3                       0                                  0
4                       0                                  0
...                   ...                                ...
59941                   0                                  0
59942                   0                                  0
59943                   0                                  0
59944                   0                                  0
59945                   0                                  0

       dropped out of high school  dropped out of law school  \
0                               0                          0
1                               0                          0
2                               0                          0
3                               0                          0
4                               0                          0
...                           ...                        ...
59941                           0                          0
59942                           0                          0
59943                           0                          0
59944                           0                          0
59945                           0                          0

       dropped out of masters program  dropped out of med school  \
0                                   0                          0
1                                   0                          0
2                                   0                          0
3                                   0                          0
4                                   0                          0
...                               ...                        ...
59941                               0                          0
59942                               0                          0
59943                               0                          0
59944                               0                          0
59945                               0                          0

       dropped out of ph.d program  dropped out of space camp  \
0                                0                          0
1                                0                          0
2                                0                          0
3                                0                          0
4                                0                          0
...                            ...                        ...
59941                            0                          0
59942                            0                          0
59943                            0                          0
59944                            0                          0
59945                            0                          0

       dropped out of two-year college  graduated from college/university  \
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  1
...                                ...                                ...
59941                                0                                  1
59942                                0                                  0
59943                                0                                  0
59944                                0                                  0
59945                                0                                  0

       ...  space camp  two-year college  working on college/university  \
0      ...           0                 0                              1
1      ...           0                 0                              0
2      ...           0                 0                              0
3      ...           0                 0                              1
4      ...           0                 0                              0
...    ...         ...               ...                            ...
59941  ...           0                 0                              0
59942  ...           0                 0                              1
59943  ...           0                 0                              0
59944  ...           0                 0                              1
59945  ...           0                 0                              0

       working on high school  working on law school  \
0                           0                      0
1                           0                      0
2                           0                      0
3                           0                      0
4                           0                      0
...                       ...                    ...
59941                       0                      0
59942                       0                      0
59943                       0                      0
59944                       0                      0
59945                       0                      0

       working on masters program  working on med school  \
0                               0                      0
1                               0                      0
2                               0                      0
3                               0                      0
4                               0                      0
...                           ...                    ...
59941                           0                      0
59942                           0                      0
59943                           0                      0
59944                           0                      0
59945                           0                      0

       working on ph.d program  working on space camp  \
0                            0                      0
1                            0                      1
2                            0                      0
3                            0                      0
4                            0                      0
...                        ...                    ...
59941                        0                      0
59942                        0                      0
59943                        0                      0
59944                        0                      0
59945                        0                      0

       working on two-year college
0                                0
1                                0
2                                0
3                                0
4                                0
...                            ...
59941                            0
59942                            0
59943                            0
59944                            0
59945                            0

[59946 rows x 32 columns]
       college/university  dropped out of college/university  \
0                       0                                  0
1                       0                                  0
2                       0                                  0
3                       0                                  0
4                       0                                  0
...                   ...                                ...
59941                   0                                  0
59942                   0                                  0
59943                   0                                  0
59944                   0                                  0
59945                   0                                  0

       dropped out of high school  dropped out of law school  \
0                               0                          0
1                               0                          0
2                               0                          0
3                               0                          0
4                               0                          0
...                           ...                        ...
59941                           0                          0
59942                           0                          0
59943                           0                          0
59944                           0                          0
59945                           0                          0

       dropped out of masters program  dropped out of med school  \
0                                   0                          0
1                                   0                          0
2                                   0                          0
3                                   0                          0
4                                   0                          0
...                               ...                        ...
59941                               0                          0
59942                               0                          0
59943                               0                          0
59944                               0                          0
59945                               0                          0

       dropped out of ph.d program  dropped out of space camp  \
0                                0                          0
1                                0                          0
2                                0                          0
3                                0                          0
4                                0                          0
...                            ...                        ...
59941                            0                          0
59942                            0                          0
59943                            0                          0
59944                            0                          0
59945                            0                          0

       dropped out of two-year college  graduated from college/university  \
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  1
...                                ...                                ...
59941                                0                                  1
59942                                0                                  0
59943                                0                                  0
59944                                0                                  0
59945                                0                                  0

       ...  space camp  two-year college  working on college/university  \
0      ...           0                 0                              1
1      ...           0                 0                              0
2      ...           0                 0                              0
3      ...           0                 0                              1
4      ...           0                 0                              0
...    ...         ...               ...                            ...
59941  ...           0                 0                              0
59942  ...           0                 0                              1
59943  ...           0                 0                              0
59944  ...           0                 0                              1
59945  ...           0                 0                              0

       working on high school  working on law school  \
0                           0                      0
1                           0                      0
2                           0                      0
3                           0                      0
4                           0                      0
...                       ...                    ...
59941                       0                      0
59942                       0                      0
59943                       0                      0
59944                       0                      0
59945                       0                      0

       working on masters program  working on med school  \
0                               0                      0
1                               0                      0
2                               0                      0
3                               0                      0
4                               0                      0
...                           ...                    ...
59941                           0                      0
59942                           0                      0
59943                           0                      0
59944                           0                      0
59945                           0                      0

       working on ph.d program  working on space camp  \
0                            0                      0
1                            0                      1
2                            0                      0
3                            0                      0
4                            0                      0
...                        ...                    ...
59941                        0                      0
59942                        0                      0
59943                        0                      0
59944                        0                      0
59945                        0                      0

       working on two-year college
0                                0
1                                0
2                                0
3                                0
4                                0
...                            ...
59941                            0
59942                            0
59943                            0
59944                            0
59945                            0

[59946 rows x 32 columns]

In [41]:
#profiles = profiles.drop(profiles['education'], axis=1)
print(profiles.columns)

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'essay0', 'essay1',
       'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8',
       'essay9', 'ethnicity', 'height', 'income', 'job', 'last_online',
       'location', 'offspring', 'orientation', 'pets', 'religion', 'sex',
       'sign', 'smokes', 'speaks', 'status'],
      dtype='object')